/*   responsive */

@media ( max-width:767px){

/* nav bar */
.nav-right,
.nav-links,
.buttons {
  gap: 10px;
}

.nav-links{
  display: none;
}

.hamburger{
  display: block;
  font-size: 2rem;
}

/* featured section */
  .featured-video-section {
  margin-top: 2rem;
  padding-block: 1rem;
}

/* footer section */


}


/* BELOW 440 SCREEN */

@media (max-width:440px){


  /* ROOT ELEMENTS */
  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 1.5rem;
  }

  h3{
    font-size: 1rem;
  }

 .secondary-button {
  padding: 0.2rem 0.6rem;
  /* font-weight: bold; */
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #ff4500;
  cursor: pointer;
}


/* NAVBAR BUTTONS */

 .buttons{
  display: none;
 }

/* HERO SECTION */

.stats{
  /* justify-content: space-around; */
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.stats h2, .stats p{
  font-size: 1.1rem;
}

/* COURSE SECTION */

.cource-section{
  min-height: 60vh;
  margin-top: 0.1rem;
}

/*  FOOTER SECTION*/
.footer {
  padding: 20px 10px 0;
}

.footer-content {
  /* display: flex; */
  flex-direction: column;
  /* flex-wrap: wrap; */
 
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 40px;
}

.footer-left {
  max-width: 200px;
}


.footer-bottom p{
  font-size: 14px;
  color: #aaa;
}

}


/* FOR SCREEN BELOW 320 */

@media(max-width:321px){


}